@font-face {
  font-family: "AirAmericana";
  src: url(Air\ Americana.ttf);
}

html, body{
  overflow-x: hidden;
}

body{
  display: flex;
  justify-content: center;
  background-color: rgb(55, 62, 66);
  color: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
  height: 45em;
  width: 60em;
}

h1{
  font-family: "AirAmericana";
  letter-spacing: 10px;
  font-size: 3em;
  margin-top: 0.3em;
}

.search-bar{
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.longitude,
.latitude{
  padding: 0.5em;
  margin: 0 1em 0 0.5em;
}

.search-btn{
  padding: 0.5em;
  font-size: 1em;
  font-family: 'AirAmericana';
}

.search-btn:hover{
  cursor: pointer;
}

.map{
  width: 100%;
  height: 65%;
  margin: auto;
  color: black;
}

.marker{
  background-image: url("https://i.imgur.com/oz3r3Wq.png");
  background-size: cover;
  width: 2em;
  aspect-ratio: 1;
  background-color: yellow;
  border-radius: 1em;
  border: solid 3px darkslategray;
}

.marker-delivery{
  background-image: url('https://i.imgur.com/cIooqnp.png');
  background-size: cover;
  width: 2em;
  aspect-ratio: 1;
}

.popup-message{
  margin-bottom: 0;
}


@media all and (max-width: 680px){
  h1{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .latitude,
  .longitude{
    padding: 0.3em;
  }
  .longitude {
    margin: 1em 0;
  }
  .search-bar{
    margin-bottom: 1em;
  }
  .search-bar{
    flex-direction: column;
    align-items: center;
  }
  .map{
    height: 50%;
  }
  p{
    max-width: 70%;
    display: block;
    margin: 1em block;
  }
}

@media all and (max-width: 400px){
    h1 {
      font-size: 2em;
    }
}