body{
  display: flex;
  justify-content: center;
}

.app {
  height: 45em;
  width: 50em;
}

.map{
  height: 100%;
  aspect-ratio: 1;
}

.marker{
  background-image: url("https://i.imgur.com/oz3r3Wq.png");
  background-size: cover;
  width: 2em;
  aspect-ratio: 1;
  background-color: yellow;
  border-radius: 1em;
  border: solid 3px darkslategray;
}

.marker-delivery{
  background-color: red;
  width: 1em;
  height: 1em;
}